*{
  box-sizing: border-box;
}

#header-nav {
  background-color: #999999;
  border-radius: 0;
  border: 0;
}
#header-nav .navbar-brand a{
  color: #ccc;
  font-weight: bold;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list{
  background: white;
  border: 1px solid #e7e7e7;
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list hr{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #e7e7e7;
}

#header-nav span.icon-bar{
  background: #e7e7e7;
}

#header-nav .navbar-toggle:hover span.icon-bar, #header-nav .navbar-toggle:focus span.icon-bar{
  background: #888;
}

.menu-header{
  margin-bottom: 40px;
}
.menu-content{
  background: #999999;
  float: left !important;
  border-radius: 15px;
  position: inherit;
  margin-bottom: 10px;

}


#row {
        width: 100%;
      }

#main-content {
    width: 100% !important;
    
}

#main-content h2 {
    font-size: 5em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    opacity: 0.9;
     box-shadow: 0 0 50px #FF8C00;
    border: 1px solid black;
}

#main-content h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    opacity: 0.9;

}

#home-tiles p {
  font-size: 1.05em;
}

/***********************large devices only******************/
      @media (min-width: 1200px) {
        .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
          float: left;
        }
        .col-lg-1 {
            width: 8.33%;
            }
            .col-lg-2 {
              width: 16.66%;
            }
            .col-lg-3 {
              width: 25%;
            }
            .col-lg-4 {
              width: 33.33%;
            }
            .col-lg-5 {
              width: 41.66%;
            }
            .col-lg-6 {
              width: 50%;
            }
            .col-lg-7 {
              width: 58.33%;
            }
            .col-lg-8 {
              width: 66.66%;
            }
            .col-lg-9 {
              width: 74.99%;
            }
            .col-lg-10 {
              width: 83.33%;
            }
            .col-lg-11 {
              width: 91.66%;
            }
            .col-lg-12 {
              width: 100%;
            }
      }


      /***********************Medium devices only******************/
      @media (min-width: 950px) and (max-width: 1199px) {
        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
          float: left;
          
        }
        .col-md-1 {
          width: 8.33%;
        }
        .col-md-2 {
          width: 16.66%;
        }
        .col-md-3 {
          width: 25%;
        }
        .col-md-4 {
          width: 33.33%;
        }
        .col-md-5 {
          width: 41.66%;
        }
        .col-md-6 {
          width: 50%;
        }
        .col-md-7 {
          width: 58.33%;
        }
        .col-md-8 {
          width: 66.66%;
        }
        .col-md-9 {
          width: 74.99%;
        }
        .col-md-10 {
          width: 83.33%;
        }
        .col-md-11 {
          width: 91.66%;
        }
        .col-md-12 {
          width: 100%;
        }
      }



